
	<%= form_for :company, url:companies_path do |f|%>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :city %><br/>
		<%= f.text_field :city %>
	</p>
	<p>

	<p>
		<%= f.submit%>
	</p>
	<%end%>

<!--  Name, Duration, TeamSize, Cost, Domain and who are all part of the Project.  -->






