<table>
	<tr>
		<th>student_id</th>
		<th>student_name</th>
		
	</tr>
	<% @student.each do |var|%>
	<tr>
		<td>
			<%= var.id%>
		</td>
		<td>
			<%= var.name%>
		</td>
	</tr>
	<%end%>
</table>

	<%= link_to 'create_student', student_new_path %>
	<%= link_to 'create_teacher', new_teacher_path %>
	<%= link_to 'create_subject', new_subject_path %>